_ngo
_xmsgs
xlnx_auto_0_xdb
xst
*.bgn
*.bin
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.html
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.xml
*.xpi
*.xrpt
*.xst
*.xwbt
